
hidden = [".config", "package-lock.json"]
run = "npm run dev"
modules = ["nodejs-20", "web", "nix"]

[[hints]]
regex = "Error \\[ERR_REQUIRE_ESM\\]"
message = "We see that you are using require(...) inside your code. We currently do not support this syntax. Please use 'import' instead when using external modules. (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import)"

[nix]
channel = "stable-24_05"

[env]
XDG_CONFIG_HOME = "$REPL_HOME/.config"
PATH = "$REPL_HOME/.config/npm/node_global/bin:$REPL_HOME/node_modules/.bin"
npm_config_prefix = "$REPL_HOME/.config/npm/node_global"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config", "package.json", "package-lock.json"]

[packager]
language = "nodejs"

  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = false

[unitTest]
language = "nodejs"

[debugger]
support = true

  [debugger.interactive]
  transport = "localhost:0"
  startCommand = [ "dap-node" ]

    [debugger.interactive.initializeMessage]
    command = "initialize"
    type = "request"

      [debugger.interactive.initializeMessage.arguments]
      clientID = "replit"
      clientName = "replit.com"
      columnsStartAt1 = true
      linesStartAt1 = true
      locale = "en-us"
      pathFormat = "path"
      supportsInvalidatedEvent = true
      supportsProgressReporting = true
      supportsRunInTerminalRequest = true
      supportsVariablePaging = true
      supportsVariableType = true

    [debugger.interactive.launchMessage]
    command = "launch"
    type = "request"

      [debugger.interactive.launchMessage.arguments]  
      args = []
      console = "externalTerminal"
      cwd = "."
      environment = []
      pauseForSourceMap = false
      program = "./index.js"
      request = "launch"
      sourceMaps = true
      stopOnEntry = false
      type = "pwa-node"



[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[deployment]
run = ["sh", "-c", "npm run dev"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 33059
externalPort = 8000

[[ports]]
localPort = 33369
externalPort = 5173

[[ports]]
localPort = 34789
externalPort = 9000

[[ports]]
localPort = 36353
externalPort = 6000

[[ports]]
localPort = 37377
externalPort = 8081

[[ports]]
localPort = 37827
externalPort = 80

[[ports]]
localPort = 40581
externalPort = 3003

[[ports]]
localPort = 42935
externalPort = 6800

[[ports]]
localPort = 43127
externalPort = 8008

[[ports]]
localPort = 43279
externalPort = 3001

[[ports]]
localPort = 44753
externalPort = 8080

[[ports]]
localPort = 45601
externalPort = 4200

[[ports]]
localPort = 45619
externalPort = 5000

[[ports]]
localPort = 46625
externalPort = 3002

[[ports]]
localPort = 46691
externalPort = 8099

[agent]
expertMode = true
integrations = ["javascript_openai:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "KaguyaBot"

[[workflows.workflow]]
name = "KaguyaBot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "console"
